{% extends 'base.html' %}}

{% load static %}

{% block content %}

<h2 class="page_title">Create Review For :</h2>

<div class="ticket">
            <div>
                <img class="ticket_image" src="{{ ticket.image.url }}">
            </div>
            <div class="ticket_content">
                <div class="ticket_header">
                    <span class="title_ticket">{{ ticket.title }}</span>
                    <span class="user_ticket">{{ ticket.time_created|date:"Y-m-d" }} - <a href="{% url 'user_page' ticket.user.id %}">{{ ticket.user }}</a></span>
                </div>
                <p class="description_ticket">{{ ticket.description }}</p>
                <a id="ticket_button" class="button" href="{% url 'create_ticket_review' ticket.id %}">Make review</a>
            </div>
</div>

<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit" value="Send">
</form>

{% endblock content %}
