{% extends 'base.html' %}}

{% load static %}

{% load custom_tags %}

{% block content %}

<div>
    <a href="../create_ticket/" class="button">Create ticket</a>
    <a href="../create_review/" class="button">Make review</a>
</div>

<h2 class="page_title">Recents Posts :</h2>
<div class="ticket_container">


    {% if page_obj %}
    {% for instance in page_obj %}
    {% if instance.content_type == 'TICKET' %}
    <div class="ticket">
        <div>
            <img class="ticket_image" src="{{ instance.image.url }}">
        </div>
        <div class="ticket_content">
            <div class="ticket_header">
                <span class="title_ticket">{{ instance.title }}</span>
                <span class="user_ticket">{{ instance.time_created|date:"Y-m-d" }}
                            {% if instance.user == request.user %}
                                <span>posted by you</span>
                            {% else %}
                                <a class="button_menu" href="{% url 'user' instance.user.id %}"><i
                                        class="fa-solid fa-user"></i> {{ instance.user }}</a></span>
                {% endif %}
            </div>
            <p class="description_ticket">{{ instance.description }}</p>
            {% if not instance.reviewed %}
            <div class="ticket_button">
                <a class="button" href="{% url 'create_ticket_review' instance.id %}">Make review</a>
            </div>
            {% endif %}
        </div>
    </div>

    {% elif instance.content_type == 'REVIEW' %}
    <div class="review">
        <div class="ticket_content">
            <div class="ticket_header">
                <span class="title_ticket">{{ instance.ticket.title }}</span>
                <span class="user_ticket">{{ instance.time_created|date:"Y-m-d" }}
                        {% if instance.user == request.user %}
                            <span>posted by you</span>
                        {% else %}
                            <a class="button_menu" href="{% url 'user' instance.user.id %}"><i
                                    class="fa-solid fa-user"></i> {{ instance.user }}</a></span>
                {% endif %}
            </div>
            <h3>{{ instance.headline }} -
                {% for i in instance.rating|times %}
                <i class="fa-solid fa-bookmark"></i>
                {% endfor %}
                {% for i in 5|times %}
                {% if i >= instance.rating %}
                <i class="fa-regular fa-bookmark"></i>
                {% endif %}
                {% endfor %}
            </h3>

            <p class="description_ticket">{{ instance.body }}</p>

            <div class="reviewed_ticket">
                <div>
                    <img class="ticket_image" src="{{ instance.ticket.image.url }}">
                </div>
                <div class="ticket_content">
                    <div class="ticket_header">
                        <span class="title_ticket">{{ instance.ticket.title }}</span>
                        <span class="user_ticket">
                            {{ instance.ticket.time_created|date:"Y-m-d" }}
                            {% if request.user.profile_photo %}
                                <img class="profile_image" src="{{ request.user.profile_photo.url }}">
                            {% endif %}
                            <a class="button_menu" href="{% url 'user' instance.ticket.user.id %}">
                            {{ instance.ticket.user }}</a>
                        </span>
                    </div>
                    <p class="description_ticket">{{ instance.ticket.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>No posts here</p>
    {% endif %}

    <div class="pagination">
        {% if page_obj.has_previous %}
        <a class="button_page" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}

        <span class="button_actual_page">{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
        <a class="button_page" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% endif %}
    </div>

</div>

<h2 class="page_title">Unreviewed :</h2>
<div class="unreviewed_container">
    {% for unreview in unreviewed %}
        <a href="{% url 'create_ticket_review' unreview.id %}">
            <img class="unreviewed_image" src="{{ unreview.image.url }}" alt="{{ unreview.title }}">
        </a>
    {% endfor %}
    {% if not unreviewed %}
        <p>All tickets are reviewed !</p>
    {% endif %}
</div>

<h2 class="page_title">Top Contributors :</h2>
<div class="top_users_container">
    {% for user, count in sorted_top_users|slice:":5" %}
        <div class="top_user">
            <span><a class="button_menu" href="">{{ user }}</a></span><br>
            <span>{{ count }} reviews</span>
        </div>
    {% endfor %}
    {% if not unreviewed %}
        <p>All tickets are reviewed !</p>
    {% endif %}
</div>
{% endblock content %}
