
{% extends 'base.html' %}}

{% load static %}

{% block content %}

<div class="block">
    <a href="../create_ticket/" class="button">Make ticket</a>
    <a href="../create_review/" class="button">Make review</a>
</div>

<h2>Tickets :</h2>
    {% if tickets %}
        <div class="ticket_container">
            {% for ticket in tickets %}
                {{ ticket.time_created }} - Ticket by <a href="">{{ ticket.user }}</a>
                <p>{{ ticket.book }} <a href="../create_review/" class="button">Make review</a></p>

            {% endfor %}
        </div>
    {% else %}
        <p>No tickets</p>
    {% endif %}

{% endblock content %}
