{% extends 'base.html' %}}

{% load static %}

{% block content %}

<h2>You Posted</h2>

<div class="ticket_container">
    {% if tickets %}

        {% for ticket in tickets %}
            {% if ticket.user == user %}
                <div class="ticket">
                    <div>
                        <span class="title_ticket">{{ ticket.title }}</span>
                        <span class="user_ticket">{{ ticket.time_created|date:"Y-m-d" }} - posted by you</span>
                    </div>
                    <p class="description_ticket">{{ ticket.description }}</p>
                    <div  id="ticket_button" ><a class="button">Modify</a><a class="button">Delete</a></div>

                </div>
            {% endif %}
        {% endfor %}

        {% for review in reviews %}
                {% if review.user == user %}
                    <div class="review">
                        <div>
                            <span class="title_ticket">{{ review.ticket }}</span>
                            <span class="user_ticket">{{ review.time_created|date:"Y-m-d" }} - posted by you</span>
                        </div>
                        <h3>{{ review.headline }} - {{ review.rating }}</h3>
                        <p class="description_ticket">{{ review.body }}</p>
                    </div>
                {% endif %}
            {% endfor %}

    {% endif %}
</div>
{% endblock content %}
