{% extends 'base.html' %}}

{% load static %}

{% block content %}

<h2 class="page_title">Search User</h2>
<form method="get" action="">
    <input type="text" name="q" class="search-field" placeholder="Search...">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

{% if search_performed %}
    {% if results %}
        <h2 class="page_title">Results</h2>
        <ul>
            {% for result in results %}
                <li>
                    <a class="button_menu" href="{% url 'user' result.id %}">
                        <i class="fa-solid fa-user"></i> {{ result.username }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No result.</p>
    {% endif %}
{% endif %}

<h2 class="page_title">Following</h2>
<div class="ticket">
    <ul>
        {% for follow in followings %}
        <li>
            <div class="username_container">
                <a class="button_menu" href="{% url 'user' follow.user.id %}">
                    {{ follow.user.username }}
                </a>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ follow.user.id }}">
                    {% if follow.is_following %}
                        <button type="submit" name="unfollow" class="button"><i class="fas fa-user-minus"></i></button>
                    {% else %}
                        <button type="submit" name="follow" class="button"><i class="fas fa-user-plus"></i></button>
                    {% endif %}
                </form>
            </div>
        </li>
        {% empty %}
        <li>You are not following anyone :(</li>
        {% endfor %}
    </ul>
</div>

<h2 class="page_title">Followers</h2>
<div class="ticket">
    <ul>
        {% for follow in followers %}
        <li>
            <div class="username_container">
                <a class="button_menu" href="{% url 'user' follow.followed_user.id %}">
                    {{ follow.user.username }}
                </a>
            </div>
        </li>
        {% empty %}
        <li>You have no followers :(</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
