{% extends 'base.html' %}}

{% load static %}

{% block content %}

<h1 class="page-title">Search User</h1>
<form method="get" action="">
    <input type="text" name="q" class="search-field" placeholder="Search...">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="user-result">
    {% if search_performed %}
        {% if results %}
            <ul>
                {% for result in results %}
                    <li>
                        <a class="button-menu" href="{% url 'user' result.id %}">{{ result.username }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No result.</p>
        {% endif %}
    {% endif %}
</div>

<h2 class="page-title">Following</h2>
<div class="followers-container">
    <ul>
        {% for follow in followings %}
        <li>
            <div class="username-container">
                <a class="button-menu" href="{% url 'user' follow.user.id %}">
                    {{ follow.user.username }}
                </a>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user-id" value="{{ follow.user.id }}">
                    {% if follow.is_following %}
                        <button type="submit" name="unfollow" class="button"><i class="fas fa-user-minus"></i></button>
                    {% else %}
                        <button type="submit" name="follow" class="button"><i class="fas fa-user-plus"></i></button>
                    {% endif %}
                </form>
            </div>
        </li>
        {% empty %}
        <li>You are not following anyone :(</li>
        {% endfor %}
    </ul>
</div>

<h2 class="page-title">Followers</h2>
<div class="followers-container">
    <ul>
        {% for follow in followers %}
        <li>
            <div class="username-container">
                <a class="button-menu" href="{% url 'user' follow.user.id %}">
                    {{ follow.user.username }}
                </a>
            </div>
        </li>
        {% empty %}
        <li>You have no followers :(</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
