{% extends 'base.html' %}}

{% load static %}

{% load custom_tags %}

{% block content %}

<h2 class="page_title">Create Review For :</h2>

<div class="ticket">
            <div>
                <img class="ticket_image" src="{{ ticket.image.url }}">
            </div>
            <div class="ticket_content">
                <div class="ticket_header">
                    <span class="title_ticket">{{ ticket.title }}</span>
                    <span class="user_ticket">
                        {% if ticket.user == request.user %}
                            <span>Posted by you</span>
                        {% else %}
                            {% if ticket.user.profile_photo %}
                                <img class="profile_image" src="{{ ticket.user.profile_photo.url }}">
                            {% endif %}
                            <a class="button_menu" href="{% url 'user' ticket.user.id %}">
                        {{ ticket.user }}</a>
                        {% endif %}
                        {{ ticket.time_created|time_ago }}
                    </span>
                </div>
                <p class="description_ticket">{{ ticket.description }}</p>
            </div>
</div>

<form class="form" action="" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.rating.label_tag }}
        {{ form.rating }}
    </div>
    <div class="form-group">
        {{ form.headline.label_tag }}
        {{ form.headline }}
    </div>
    <div class="form-group">
        {{ form.body.label_tag }}
        {{ form.body }}
    </div>
    <div class="signup_button">
        <input class="button" type="submit" value="Send">
    </div>
</form>

{% endblock content %}
