{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 class="page_title">Create ticket</h2>
<form class="form" action="" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.edit_ticket }}
    <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <div class="form-group">
        {{ form.image.label_tag }}
        {{ form.image }}
    </div>
    <div class="signup_button">
        <input class="button" type="submit" value="Send">
    </div>
</form>

{% endblock content %}
