{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">Edit</h2>
<form class="form" action="" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {{ edit_form.edit_ticket }}
    <div class="form-group">
        {{ edit_form.title.label_tag }}
        {{ edit_form.title }}
    </div>
    <div class="form-group">
        {{ edit_form.description.label_tag }}
        {{ edit_form.description }}
    </div>
    <div class="form-group">
        {{ edit_form.image.label_tag }}
        {{ edit_form.image }}
    </div>
    <div class="signup-button">
        <input class="button" type="submit" value="Send">
    </div>
</form>

{% endblock content %}
