{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">Edit Review</h2>

<form class="form" action="" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ edit_form.ticket.label_tag }}
        {{ edit_form.ticket }}
    </div>
    <div class="form-group">
        {{ edit_form.rating.label_tag }}
        {{ edit_form.rating }}
    </div>
    <div class="form-group">
        {{ edit_form.headline.label_tag }}
        {{ edit_form.headline }}
    </div>
    <div class="form-group">
        {{ edit_form.body.label_tag }}
        {{ edit_form.body }}
    </div>
    <div class="signup-button">
        <input class="button" type="submit" value="Send">
    </div>
</form>

{% endblock content %}
