@font-face {
    font-family: Espera;
    src: url(fonts/Espera.ttf);
}

@font-face {
    font-family: Heavitas;
    src: url(fonts/Heavitas.ttf);
}

html {
    overflow-y: scroll;
    margin: 0;
}

body {
    background-color: #F7F7F7;
    font-family: Espera;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
}

h2 {
    margin-top: 60px;
    font-size: 32px;
}

ul {
    list-style-type: none;
}

.link-home {
    text-decoration: none;
    color: black;
}

.logo {
    width: 35px;
    height: auto;
}

.form {
    background-color: #EBEBE0;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 18px;
    padding: 20px;
}

.form-control {
    width: 200px;
    height: 30px;
    padding: 0 15px;
    border: 1px solid #42494C;
    outline: none;
    font-size: 15px;
}

.rating-inline {
    display: flex;
    gap: 10px;
}

.rating-inline li {
    display: flex;
    align-items: center;
    margin-right: 10px;
    list-style: none;
}

.form-description {
    width: 450px;
    padding: 5px;
    border: 1px solid #42494C;
    outline: none;
    font-size: 15px;
}

.form-group label {
    display: flex;
    margin-top: 10px;
}

.bio {
    background-color: #EBEBEB;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 4px solid #F7F7F7;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 15px;
    width: 400px;
    height: 100px;
}

.bookmark-icon {
    color: #687378;
    margin-left: 7px;
}

.large-profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-image {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    object-fit: cover;
    margin-right: 5px;
}

.top-profile-image {
    border-radius: 50%;
    border: 4px solid #F7F7F7;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.ticket-profile-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-left: 10px;
}

button,
.button {
    all: unset;
    background-color: #6D767B;
    border-radius: 8px;
    color: white;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.search-field {
    width: 300px;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #42494C;
    outline: none;
    font-size: 15px;
}

.search-field:focus {
    border-color: #2F3437;
}

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-actual-page {
    background-color: #F7F7F7;
    border: 2px solid #687378;
    border-radius: 8px;
    text-align: center;
    color: #42494C;
    font-weight: bold;
    width: 12px;
    padding: 9px;
    margin: 10px;
}

.button-page {
    text-decoration: none;
    background-color: #687378;
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
    color: #FFFFF2;
    width: 12px;
    padding: 9px;
    margin: 10px;
}

.button-menu {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    color: #42494D;
    margin-left: 10px;
    margin-right: 10px;
}

.button-menu:hover {
    color: black;
}

.button-page:hover,
button:hover,
.button:hover {
    background-color: #4B5358;
    cursor: pointer;
}

.user-hero {
    padding: 30px;
    margin-bottom: 40px;
    width: 900px;
}

.page-title {
    align-self: flex-start;
    margin-left: 25%;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.reviewed-ticket {
    display: flex;
    flex-direction: row;
    background-color: #EBEBEB;
    border: 4px solid #F7F7F7;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 660px;
    margin-bottom: 20px;
}

.block {
    display: flex;
    justify-content: center;
}

.ticket-container {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.review,
.ticket {
    display: flex;
    flex-direction: row;
    background-color: #EBEBE0;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 18px;
    width: 700px;
    padding: 20px;
    margin: 20px;
}

.followers-container {
    display: flex;
    flex-direction: row;
    background-color: #EBEBE0;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 18px;
    width: 550px;
    padding: 20px;
    margin: 20px;
}

.ticket-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ticket-image {
    width: auto;
    height: 200px;
    border: 1px solid grey;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
}

.ticket-image-wrapper {
    position: relative;
    display: inline-block;
}

.ticket-image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    height: 97.5%;
    box-shadow: inset 3px 0 3px -3px rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title-ticket {
    font-size: 17px;
    font-family: Heavitas;
}

.user-ticket {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.description-ticket {
    margin: 30px;
}

.ticket-button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
}

#favorite-container {
    gap: 20px;
}

.unreviewed-container {
    display: flex;
    flex-direction: row;
    background-color: #EBEBE0;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 18px;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
}

.unreviewed-image {
    width: 100px;
    height: auto;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.unreviewed-image:hover {
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.unreviewed-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    height: 98%;
    box-shadow: inset 3px 0 3px -3px rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

.personal-datas-container {
    background-color: #EBEBE0;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 18px;
    display: flex;
    padding: 30px;
    gap: 65px;
}

.personal-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid #F7F7F7;
}

.personal-data-number {
    font-weight: bold;
    font-size: 30px;
}

.profile-container {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.username-container {
    display: flex;
    width: 480px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.user-result {
    width: 420px;
    margin-top: 40px;
}

.user-name {
    font-size: 60px;
}

.top-user {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.top-users-container {
    display: flex;
    background-color: #EBEBE0;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 18px;
    width: 700px;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
}

.container-login {
    display: flex;
    gap: 40px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    align-items: center;
}

.signup-form {
    margin-top: 70px;
}

.signup-button {
    margin-top: 20px;
}

#title {
    display: flex;
    align-items: center;
    margin-left: 200px;
    font-size: 38px;
}

#user-menu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 200px;
}

.user-hero {
    display: flex;
    gap: 40px;
}

#menu-header {
    margin-left: 90px;
}
