@font-face {
    font-family: Espera;
    src: url(fonts/Espera.ttf);
}

body {
    background-color: #FFFFF2;
    font-family: Espera;
}

header {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    width: 100%;
    height: 70px;
    margin-bottom: 70px;
}

footer {
    margin-top: 90px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 60px;
    font-size: 32px;
}

button,
.button {
    all: unset;
    background-color: #42494C;
    border-radius: 18px;
    color: #F3F0E2;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.button_menu {
    text-decoration: none;
    font-size: 17px;
    color: black;
    margin-left: 20px;
}

.button_menu:hover {
    color: grey;
}

button:hover,
.button:hover {
    background-color: #2F3437;
    cursor: pointer;
}

.page_title {
  align-self: flex-start;
  margin-left: 25%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewed_ticket {
    display: flex;
    flex-direction: row;
    border: 1px solid #BDBDB6;
    background-color: #FFFFF2;
    padding: 10px;
    width: 660px;
}

.block {
    display: flex;
    justify-content: center;
}

.ticket_container{
    display: flex;
    flex-direction: column;
    width: 800px;
}

.ticket {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 700px;
    padding: 20px;
    margin: 20px;
}

.ticket_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ticket_image {
    width: 130px;
    height: auto;
    border: 1px solid grey;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.review {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 700px;
    padding: 20px;
    margin: 20px;
}

.ticket_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title_ticket {
    font-size: 20px;
}

.user_ticket {
    margin-left: auto;
}

.description_ticket {
    margin: 30px;
}

.headline_review {

}

#ticket_button {
    margin-left: auto;
}

#container_login {
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#title {
    margin-left: 200px;
    font-size: 38px;
}

#user_menu {
    display: block;
    position: absolute;
    right: 200px;
}

#menu_header {
    margin-left: 130px;
}