<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITRevu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>

</head>
<body>

<header>

    <h1 id="title">LITRevu </h1>

    {% if user.is_authenticated %}

    <div id="menu_header">
        <a href="../home/">Flux</a>
        <a href="../posts/">Posts</a>
        <a href="../subs/">Subscriptions</a>
    </div>

    <div id="user_menu">
        <p>{{ request.user }} - <a href="{% url 'logout' %}">Disconnect</a></p>
    </div>

    {% endif %}

</header>


<div class="grid">

    {% block content %}{% endblock content %}
</div>

</body>
</html>