<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITRevu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>

    <span id="title">LITRevu </span>

    {% if user.is_authenticated %}

        <div id="menu_header">
            <a class="button_menu" href="{% url 'home' %}">Flux</a>
            <a class="button_menu" href="{% url 'own_posts' %}">Posts</a>
            <a class="button_menu" href="{% url 'subs' %}">Subscriptions</a>
        </div>

        <div id="user_menu">
            {% if request.user.profile_photo %}
            <img class="profile_image" src="{{ request.user.profile_photo.url }}">
            {% endif %}
            <a class="button_menu" href="{% url 'account' %}"> {{ request.user }}</a>
            <a class="button_menu" href="{% url 'logout' %}">Disconnect</a>
        </div>

    {% endif %}

</header>


<div class="container">
    {% block content %}{% endblock content %}
</div>


<footer>
    <div>
        © LITRevu - 2024
    </div>
    <div>
        <a class="button_menu" href="">About</a>
        <a class="button_menu" href="">Terms</a>
        <a class="button_menu" href="">Privacy</a>
    </div>
</footer>
</body>
</html>